<article
    class="overflow-hidden max-w-30 flex flex-row-reverse"
    [ngClass]="{
        rtl: prop.textLocation === 'right',
        ltr: prop.textLocation === 'left',
    }"
>
    <div class="aaa flex-1 overflow-hidden flex justify-center items-center">
        <img
            [ngClass]="{
                'left-0': prop.textLocation === 'right',
                'right-0': prop.textLocation === 'left',
            }"
            [src]="prop.image"
        />
    </div>
    <div class="m-4 ltr flex-1">
        <h2>{{ prop.title }}</h2>
        <p [innerHTML]="prop.body"></p>
        <a
            *ngIf="prop.link"
            [href]="prop.link.url"
        >
            {{ prop.link.text }}
        </a>
    </div>
</article>
