div {
    margin-top: 8rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 8rem;
}

::ng-deep article:nth-of-type(2) {
    .aaa {
        background-color: rgba(0, 0, 0, 0.05);
        border: 2px dashed #ccc;
    }
}
