<article
    class="relative flex justify-content-center align-items-center w-full h-20rem bg-black-alpha-10"
>
    <img
        class="absolute w-full h-full top-0 left-0 z-0"
        ngSrc="assets/images/products/background.png"
        width="1100"
        height="1100"
    />
    <img
        class="absolute w-20rem abs-center z-0"
        ngSrc="assets/images/products/gray-logo.png"
        width="1100"
        height="1100"
    />
    <div
        class="flex justify-content-center align-items-center flex-column max-w-30rem"
    >
        <h1 class="relative text-center z-1 h-fit w-fit">Our Products</h1>
        <p class="relative text-center z-1">
            Our products contain a range of metals. Here you can see our main
            products, their details and to get an impression of how they look.
            For any further information you are welcome to contact us and we
            will be happy to answer on any question
        </p>
    </div>
</article>
