.video-wrapper {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 16 / 9;
    height: 75vh;
    overflow: hidden;
}

.video-wrapper::before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); // TODO
    pointer-events: none;
}

video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
