<div class="w-full h-30rem overflow-hidden">
    <div class="animation-go-left w-fit h-full py-5 flex flex-row gap-5">
        <!-- 1 -->
        <div class="image-con">
            <app-multi-image [products]="multiProduct2"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [products]="multiProduct3"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [product]="singleProduct[0]"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [products]="multiProduct2b"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [products]="multiProduct4"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [product]="singleProduct[1]"></app-multi-image>
        </div>
        <!-- 1 -->
        <!-- 2 -->
        <div class="image-con">
            <app-multi-image [products]="multiProduct2"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [products]="multiProduct3"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [product]="singleProduct[0]"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [products]="multiProduct2b"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [products]="multiProduct4"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [product]="singleProduct[1]"></app-multi-image>
        </div>
        <!-- 2 -->
    </div>
</div>
