<article class="mx-8">
    <p-dataView
        #dv
        [value]="products"
        [layout]="'grid'"
    >
        <ng-template pTemplate="header">
            <div class="flex justify-content-start gap-3">
                <div>
                    <p-multiSelect
                        [options]="multiSelectTypes"
                        [(ngModel)]="selectedTypes"
                        (ngModelChange)="onSelectedTypesChange()"
                        [filter]="false"
                        [showHeader]="false"
                        optionLabel="name"
                        placeholder="Select Types"
                    >
                        <ng-template
                            let-value
                            pTemplate="selectedItems"
                        >
                            <div class="flex align-items-center gap-2">
                                <p-tag
                                    *ngFor="let val of value"
                                    [value]="val.name"
                                    [severity]="getColorByType(val.name)"
                                    class="mr-1"
                                ></p-tag>

                                <span *ngIf="!value || value.length === 0">
                                    Select Types
                                </span>
                            </div>
                        </ng-template>

                        <ng-template
                            let-option
                            pTemplate="item"
                        >
                            <div class="flex align-items-center gap-2">
                                <p-tag
                                    [value]="option.name"
                                    [severity]="getColorByType(option.name)"
                                ></p-tag>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="grid">
            <div class="grid grid-nogutter">
                <div
                    class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3 p-2"
                    *ngFor="let product of products"
                >
                    <div
                        class="p-4 border-1 surface-border surface-card border-round flex flex-column"
                    >
                        <span
                            class="flex font-medium text-secondary text-sm gap-2"
                        >
                            <p-tag
                                class="pb-2"
                                [value]="product.type"
                                [severity]="getColorByType(product.type)"
                            />
                            <p-tag
                                *ngIf="product.subtype"
                                class="opacity-70"
                                [value]="product.subtype"
                                [severity]="getColorBySubType(product.subtype)"
                                [rounded]="true"
                            />
                        </span>

                        <div
                            class="surface-50 flex justify-content-center border-round p-3"
                        >
                            <div class="relative mx-auto">
                                <p-image
                                    class="border-round"
                                    [src]="product.img"
                                    [alt]="product.name"
                                    [preview]="true"
                                ></p-image>
                            </div>
                        </div>
                        <div class="pt-4">
                            <div
                                class="flex flex-row justify-content-between align-items-start gap-2"
                            >
                                <div>
                                    <div
                                        class="text-lg font-medium text-900 mt-1"
                                    >
                                        {{ product.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</article>
